
.home{
    background-image: url('/images/food-photographer-david-fedulov-Xt84tIHbjRY-unsplash.jpg');
    /* background-attachment: fixed; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
